{% extends "base.html.twig" %}
{% block body %}
    <article>
        <div class="content">
            <p>Nom du Pays: {{ pays.nomPays }}</p>
            <p>Nom du Cardinal de ce pays: {{ pays.nomCardinale }}</p>
            <p>Ajouté le : {{ pays.createdAt | date('d/m/Y') }} à {{ pays.createdAt | date('H:i') }}</p>
        </div>
    </article>
{% endblock %}